<div class="px-4 pb-4 max-h-none w-full">
  <!-- region main heading -->
  <div class="sm:sticky top-0 pt-4 z-40 bg-default">
    <h1 class="new-head text-lg px-4 py-1.5 rounded flex justify-between items-center font-semibold">
      {{ pagetitle }} - {{ ProductName }}

      <div class="flex gap-x-3 items-center text-lg font-normal">
        <button (click)="backClick()" mat-raised-button class="new-button">
          Back to Quotations
        </button>
      </div>
    </h1>
    <!-- endregion main heading -->

    <gnx-info-header [Icon]="logo"
                        [InsuredPeople]="InsuredPeople"
                        [member]="member"
                        [ReqSumInsured]="ReqSumInsured"
                        [PolicyType]="PolicyType"
                        [PolicyPeriod]="Policies?.PolicyPeriodName"
                        [TotalPremium]="Policies?.AddOnvalue"
                        [LSInsurer]="Insurer"

    >
    </gnx-info-header>

    <!-- <div class="px-4 py-7 rounded bg-white">
      <mat-card class="bg-sky-100 px-4 py-3 gap-2 container mx-auto">
        <div class="grid lg:grid-cols-[minmax(140px,150px)_minmax(200px,1fr)_1fr_1fr_1fr_1fr] md:grid-cols-2 sm:grid-cols-2 grid-cols-1 gap-6">
          <div>
            <img class="w-40 h-15" src="{{ logo }}" alt="logo" />
          </div>

          <div class="sm:grid-cols-1 grid grid-cols-[minmax(100px,250px)_minmax(250px,500px)] self-center">
            <div class="flex gap-3">
              <small>
                <span class="font-bold">
                   {{ InsuredPeople }}
                </span>
                Person<span *ngIf="InsuredPeople > 1">s</span>
                Insured
                </small>
            </div>

            <div class="grid grid-cols-7 w-fit">
              <div *ngFor="let item of member" class="h-min">
                <img src="{{ item.member }}" alt="" class="h-7 w-7" />
              </div>
            </div>
          </div>
          <div class="sm:grid-cols-1 grid grid-cols-2 self-center">
            <small>Sum Insured</small>
            <span class="font-bold text-black">
              {{ ReqSumInsured | indCurrency }}
            </span>
          </div>
          <div class="sm:grid-cols-1 grid grid-cols-2 self-center">
            <small>Policy Type</small>
            <span class="font-bold text-black"> {{ PolicyType }}</span>
          </div>
          <div class="sm:grid-cols-1 grid grid-cols-2 self-center">
            <small>Policy Period</small>
            <span class="font-bold text-black">
              {{ Policies?.PolicyPeriodName }}</span
            >
          </div>
          <div class="sm:grid-cols-1 grid grid-cols-2 self-center">
            <small>Gross Premium</small>
            <span class="font-bold text-black">
              {{ Policies?.AddOnvalue | indCurrency }}</span
            >
            <small>Inclusive of Taxes</small>
          </div>
        </div>
      </mat-card>
    </div> -->
  </div>

  <!-- region start form -->

  <div class="py-3">
    <mat-stepper linear orientation="vertical" #stepper>

      <!-- First stepper -->
      <mat-step [stepControl]="StepOneSubmit(stepper)" label="Proposer Details">
        <form [formGroup]="BuyCareForm">
          <div formGroupName="PolicyHolder" class="md:grid space-y-4 grid-cols-2 lg:grid-cols-3 gap-x-9 mt-4">
            <!-- First Name -->
            <div class="relative self-end">
              <div class="icon">
                <mat-icon>person</mat-icon>
              </div>
              <input type="text" id="FirstName" AlphabetOnly formControlName="FirstName" placeholder=" " class="peer"/>
              <label for="FirstName" class="mandatory">First Name</label>
            </div>

            <!-- Middle Name -->
            <div class="relative self-end">
              <div class="icon">
                <mat-icon>person</mat-icon>
              </div>
              <input type="text" id="MiddleName" AlphabetOnly formControlName="MiddleName" placeholder=" " class="peer"/>
              <label for="MiddleName">Middle Name</label>
            </div>

            <!-- Last Name -->
            <div class="relative">
              <div class="icon">
                <mat-icon>person</mat-icon>
              </div>
              <input type="text" id="LastName" AlphabetOnly formControlName="LastName" placeholder=" " class="peer"/>
              <label for="LastName" class="mandatory">Last Name</label>
            </div>

            <!-- Gender  -->
            <div class="relative">
              <div class="icon">
                <mat-icon>person_outline</mat-icon>
              </div>
              <select id="Gender" name="Gender" class="peer" formControlName="Gender" placeholder=" ">
                <option value="0">-- Select --</option>
                <option class="example-radio-button" *ngFor="let option of GenderList" [value]="option.Code">
                  {{ option.Name }}
                </option>
              </select>

              <label class="Gender" class="mandatory">Gender</label>
            </div>

            <!-- DOB  -->
            <div class="relative max-w-fit">
              <div class="flex">
                <div class="icon">
                  <mat-datepicker-toggle class="-ml-2" matIconSuffix [for]="dob"></mat-datepicker-toggle>
                  <mat-datepicker #dob></mat-datepicker>
                </div>
                <input matInput type="text" id="DOB" formControlName="DOB" class="peer" placeholder="__/__/____" datemask [matDatepicker]="dob" [max]="maxBirthDate"/>
                <label for="DOB" class="mandatory">Date of Birth</label>
              </div>
            </div>

            <div class="col-span-2 lg:col-span-3 pt-2 font-semibold">
              <p>Nominee Details</p>
            </div>

            <!-- First Name -->
            <div class="relative self-end">
              <div class="icon">
                <mat-icon>person</mat-icon>
              </div>
              <input type="text" id="NomineeFirstName" AlphabetOnly formControlName="NomineeFirstName" placeholder=" " class="peer"/>
              <label for="NomineeFirstName" class="mandatory">First Name</label>
            </div>

            <!-- MiddleName -->
            <div class="relative">
              <div class="icon">
                <mat-icon>person</mat-icon>
              </div>
              <input type="text" id="NomineeMiddleName" AlphabetOnly formControlName="NomineeMiddleName" placeholder=" " class="peer"/>
              <label for="NomineeMiddleName">Middle Name</label>
            </div>

            <!-- Last Name -->
            <div class="relative">
              <div class="icon">
                <mat-icon>person</mat-icon>
              </div>
              <input type="text" id="NomineeLastName" AlphabetOnly formControlName="NomineeLastName" placeholder=" " class="peer"/>
              <label for="NomineeLastName" class="mandatory">Last Name</label>
            </div>

            <!-- Relation  -->
            <div class="relative min-w-36">
              <div class="icon">
                <mat-icon>people</mat-icon>
              </div>
              <select  id="NomineeRelation"  name="NomineeRelation"  class="peer"  formControlName="NomineeRelation"  placeholder=" ">
                <option value="0">-- Select --</option>
                <option class="example-radio-button" *ngFor="let option of NomineeRelationList" [value]="option.Code">
                  {{ option.Name }}
                </option>
              </select>
              <label for="NomineeRelation" class="mandatory">Relation</label>
            </div>

            <div class="col-span-2 lg:col-span-3 font-semibold">
              <p>Address</p>
            </div>
            <!-- Address -->
            <div class="relative">
              <div class="icon">
                <mat-icon>home</mat-icon>
              </div>
              <input maxlength="60" type="text" id="Address" formControlName="Address" placeholder=" " class="peer"/>
              <label for="Address" class="mandatory">Address</label>
            </div>
            <!-- Address Line 2 -->
            <div class="relative">
              <div class="icon">
                <mat-icon>home</mat-icon>
              </div>
              <input maxlength="60" type="text"  id="Address1"  formControlName="Address1"  placeholder=" "  class="peer"/>
              <label for="Address1">Address Line 2</label>
            </div>

            <!-- PIN Code -->
            <div class="relative w-60">
              <div class="flex">
                <div class="icon">
                  <mat-icon> pin_drop</mat-icon>
                </div>
                <input
                  type="text"
                  id="PINCode"
                  maxlength="6"
                  class="peer"
                  matInput
                  formControlName="PinCode"
                  [matAutocomplete]="oppoSearch"
                  placeholder=" "
                  required
                />
                <mat-autocomplete
                  #oppoSearch="matAutocomplete"
                  (optionSelected)="PinCodeSelected($event)"
                >
                  <mat-option
                    *ngFor="let pincode of pincodes$ | async"
                    [value]="pincode"
                  >
                    {{ pincode.PinCode }} {{ pincode.CityName }}
                  </mat-option>
                </mat-autocomplete>
                <button
                  class="-m-5 z-10"
                  type="button"
                  (click)="openDiologPincode('Pincode', 'Select PIN Code', 1)"
                >
                  <mat-icon class="-ml-2">search</mat-icon>
                </button>
                <button
                  *ngIf="BuyCareForm.get('PolicyHolder.PinCode').value"
                  type="button"
                  class="-m-7 z-10"
                  aria-label="clear"
                  matTooltip="Clear"
                  (click)="clear('PolicyHolder.PinCode')"
                >
                  <mat-icon>clear</mat-icon>
                </button>
                <label for="PINCode" class="mandatory">PIN Code</label>
              </div>
            </div>
            <!-- City -->
            <div class="relative">
              <div class="icon">
                <mat-icon>location_city</mat-icon>
              </div>
              <input
                type="text"
                readonly
                id="City"
                formControlName="City"
                placeholder=" "
                class="peer"
              />
              <label for="City" class="mandatory">City</label>
            </div>

            <!-- Contact Details -->
            <div class="col-span-2 lg:col-span-3 font-semibold">
              <p>Contact Details</p>
            </div>
            <!-- Mobile -->
            <div class="relative">
              <div class="icon">
                <mat-icon>phone</mat-icon>
              </div>
              <input
                type="text"
                Onlynumber
                maxlength="10"
                id="Mobile"
                formControlName="Mobile"
                placeholder=" "
                class="peer"
              />
              <label for="Mobile" class="mandatory">Mobile</label>
            </div>
            <!-- Email -->
            <div class="relative">
              <div class="icon">
                <mat-icon>email</mat-icon>
              </div>
              <input
                type="text"
                id="Email"
                formControlName="Email"
                placeholder=" "
                class="peer" maxlength="60"
              />
              <label for="Email" class="mandatory">Email</label>
            </div>
           <!-- KYC -->
            <div class="col-span-2 lg:col-span-3 font-semibold flex">
              <p>KYC <span *ngIf="Policies?.AddOnvalue<=50000">(Any One)</span></p>
              <div class="flex pl-1" *ngIf="IsKYC">
                <mat-icon class="kycsuccess" title="Verified">verified_user</mat-icon>
              </div>
            </div>
            <!-- PAN -->
            <div class="relative">
              <div class="icon">
                <mat-icon>credit_card</mat-icon>
              </div>
              <input
                type="text"
                id="KYCId"
                maxlength="10"
                formControlName="PANNo"
                placeholder=" "
                class="peer"
              />
              <label for="KYCId" [ngClass]="Policies?.AddOnvalue > 50000?'mandatory':''">PAN</label>
            </div>

            <!-- Aadhar -->
            <div class="relative">
              <div class="icon">
                <mat-icon>credit_card</mat-icon>
              </div>
              <input
                type="text" Onlynumber
                id="Aadhar"
                maxlength="12"
                formControlName="UID"
                placeholder=" "
                class="peer"
              />
              <label for="Aadhar" class="">Aadhar</label>
            </div>
          </div>
        </form>
        <div class="mt-3">
          <button
            class="form-button mr-3"
            mat-button
            (click)="StepOneError(stepper)"
          >
            Verify & Next
          </button>
        </div>
      </mat-step>

      <!-- Second stepper -->
      <mat-step [stepControl]="" label="Insured Member Details">
        <form [formGroup]="BuyCareForm" class="py-2" action="">
          <!-- member region start -->
          <div formArrayName="PolicyMemberDetails">
            <div *ngFor="let items of member; let i = index" class="py-2">
              <div
                [formGroupName]="i"
                class="border -mx-3 px-2 py-2 md:grid grid-cols-[minmax(50px,90px)_minmax(300px,1fr)]"
              >
                <div class="mt-4 col-start-1">
                  <div class="w-fit h-fit">
                    <div>
                      <img src="{{ items.member }}" alt="img" />
                    </div>
                    <div>
                      <p class="text-center">{{ items.title }}</p>
                    </div>
                  </div>
                </div>

                <div
                  class="md:grid space-y-8 lg:grid-cols-3 grid-cols-2 sm:gap-x-2 md:gap-x-9 py-3"
                >
                  <!-- First Name -->

                  <div class="relative self-end min-w-36">
                    <div class="icon">
                      <mat-icon>person</mat-icon>
                    </div>
                    <input
                      type="text"
                      id="FirstName{{ i }}"
                      formControlName="FirstName"
                      AlphabetOnly
                      placeholder=" "
                      class="peer" maxlength="60"
                    />
                    <label for="FirstName{{ i }}" class="mandatory"
                      >First Name</label
                    >
                  </div>

                  <!-- Middle Name -->

                  <div class="relative self-end min-w-36">
                    <div class="icon">
                      <mat-icon>person</mat-icon>
                    </div>
                    <input
                      type="text"
                      id="MiddleName{{ i }}"
                      AlphabetOnly
                      formControlName="MiddleName"
                      placeholder=" "
                      class="peer" maxlength="60"
                    />
                    <label for="MiddleName{{ i }}" class="">Middle Name</label>
                  </div>

                  <!-- LastName -->

                  <div class="relative min-w-36">
                    <div class="icon">
                      <mat-icon>person</mat-icon>
                    </div>
                    <input
                      type="text"
                      id="LastName{{ i }}"
                      AlphabetOnly
                      formControlName="LastName"
                      placeholder=" "
                      class="peer" maxlength="60"
                    />
                    <label for="LastName{{ i }}" class="mandatory"
                      >Last Name</label
                    >
                  </div>

                  <!-- Gender -->

                  <div class="relative min-w-[134px]">
                    <div class="icon">
                      <mat-icon>person_outline</mat-icon>
                    </div>

                    <input
                      type="text"
                      id="Gender{{ i }}"
                      name="Gender"
                      class="peer"
                      formControlName="Gender"
                      placeholder=" "
                      readonly
                    />

                    <label for="Gender{{ i }}" class="mandatory">Gender</label>
                  </div>

                  <!-- DOB -->

                  <div class="relative max-w-fit min-w-36">
                    <div class="flex">
                      <div class="icon">
                        <mat-datepicker-toggle
                          class="-ml-2"
                          matIconSuffix
                          [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </div>
                      <input
                        matInput
                        id="DOB{{ i }}"
                        type="text"
                        formControlName="DOB"
                        class="peer"
                        placeholder="__/__/____"
                        datemask
                        [matDatepicker]="picker"
                        [max]="maxBirthDate"
                      />
                      <label for="DOB{{ i }}" class="mandatory"
                        >Date of Birth</label
                      >
                    </div>
                  </div>

                  <!-- height & weight -->
                  <div class="grid lg:grid-cols-2 md:col-span-2 gap-7">
                    <div class="grid md:grid-rows-2 gap-3 md:gap-0">
                        <div>
                            <p class="font-semibold text-base">Height</p>
                        </div>
                        <div class="grid-cols-2 grid gap-7">
                            <!-- height -->
                            <div class="relative">
                                <div class="icon">
                                    <mat-icon> border_vertical</mat-icon>
                                </div>
                                <input type="text" Onlynumber maxlength="3" id="HeightInFeet{{i}}" formControlName="HeightInFeet" placeholder=" " class="peer" (keyup)="SetCM(i)">
                                <label for="HeightInFeet{{i}}" class="mandatory ">Feet</label>
                            </div>
                            <div class="relative">
                                <div class="icon">
                                    <mat-icon> border_vertical</mat-icon>
                                </div>
                                <input type="text" Onlynumber maxlength="3" id="HeightInInch{{i}}" formControlName="HeightInInch" placeholder=" " class="peer" (keyup)="SetCM(i)">
                                <label for="HeightInInch{{i}}" class="mandatory ">Inch</label>
                            </div>

                        </div>
                    </div>

                    <div class="grid md:grid-rows-2 gap-3 md:gap-0">
                        <div>
                            <p class="font-semibold text-base">Weight</p>
                        </div>
                        <div class="grid-cols-2 grid gap-7">

                            <!-- weight -->
                            <div class="relative">
                                <div class="icon">
                                    <mat-icon>blur_on</mat-icon>
                                </div>
                                <input type="text" Onlynumber maxlength="3" id="WeightKG{{i}}" formControlName="WeightKG" placeholder=" " class="peer">
                                <label for="WeightKG{{i}}" class="mandatory ">KG</label>
                            </div>
                        </div>
                    </div>

                  </div>
                </div>

                <div class="sm:col-start-2 py-2 text-lg font-semibold flex">
                  <p>Medical History</p>
                </div>

                <div class="md:col-start-2">
                  <ul
                    formArrayName="MemberPEDList"
                    class="list-decimal space-y-3 pl-4 md:pl-0"
                  >
                    <div *ngFor="let Question of QuestionList; let Q = index" class="">
                      <li *ngIf="Question.Type == 'Question'" [ngClass]="Q ? 'mt-que': ''" class="w-full py-4 dark:border-opacity-50">
                        <p>{{ Question.Description }}</p>
                        <div [formGroupName]="Q">
                          <div
                            class="py-2"
                            *ngIf="Question.Response == 'yes/no'"
                          >
                            <input
                              type="radio"
                              value="YES"
                              (change)="subQue(i, Question.Code, true)"
                              formControlName="Response"
                              class="pl-2"
                            />
                            <span (click)="radioLabel(i,Q,'YES',1,true)" class="pr-5 pl-1 font-medium -mt-1 cursor-pointer">
                              Yes</span
                            >

                            <input
                              type="radio"
                              value="NO"
                              (change)="subQue(i, Question.Code, false)"
                              formControlName="Response"
                              class="pl-2"
                            />
                            <span (click)="radioLabel(i,Q,'NO',1,false)" class="pl-1 font-medium -mt-1 cursor-pointer"> No</span>
                          </div>

                          <div
                            *ngIf="Question.Response == 'Text'"
                            class="relative max-w-fit mt-2"
                          >
                            <textarea
                              name=""
                              id="{{ i }}{{ Q }}"
                              formControlName="Response"
                              class="peer w-full rounded-md border border-accent-400"
                              placeholder=" "
                            ></textarea>
                            <label for="{{ i }}{{ Q }}">Description</label>
                          </div>
                        </div>
                      </li>

                      <div class="">
                        <div *ngIf="Question.Type == 'subquestion' && memberDetailsAsArray.at(i).get('MemberPEDList').at(Q).get('Sub').value">
                          {{ Question.Description }}
                          <div [formGroupName]="Q">
                            <div
                              *ngIf="Question.Response == 'date'"
                              class="relative max-w-fit min-w-36 mt-2"
                            >
                              <div class="flex">
                                <div class="icon">
                                  <mat-datepicker-toggle
                                    class="-ml-2"
                                    matIconSuffix
                                    [for]="dp"
                                  ></mat-datepicker-toggle>
                                  <mat-datepicker
                                    #dp
                                    startView="multi-year"
                                    (yearSelected)="chosenYearHandler($event)"
                                    (monthSelected)="
                                      chosenMonthHandler(i, Q, $event, dp)
                                    "
                                  ></mat-datepicker>
                                </div>

                                <input
                                  id="{{ i }}{{ Q }}"
                                  matInput
                                  type="text"
                                  formControlName="Response"
                                  class="peer w-full rounded-md border border-accent-400"
                                  id="{{ i }}{{ Q }}"
                                  placeholder="__/____"
                                  mmyyyy
                                />
                                <label for="{{ i }}{{ Q }}" class=""
                                  >MM/YYYY
                                </label>
                                <input formControlName="patchResponse"
                                  [max]="maxDate" [min]="memberDetailsAsArray.at(i).get('DOB').value"
                                  class="invisible -ml-32 py-7"
                                  [matDatepicker]="dp"
                                />
                              </div>
                            </div>

                            <div
                              *ngIf="Question.Response == 'Text'"
                              class="relative max-w-fit mt-2"
                            >
                              <textarea
                                name=""
                                id="{{ i }}{{ Q }}"
                                formControlName="Response"
                                class="peer w-full rounded-md border border-accent-400"
                                placeholder=" "
                              ></textarea>
                              <label for="{{ i }}{{ Q }}">Description</label>
                            </div>

                            <div
                              *ngIf="Question.Response == 'integer'"
                              class="relative max-w-fit mt-2"
                            >
                              <input
                                type="text"
                                Onlynumber
                                formControlName="Response"
                                class="peer w-full rounded-md border border-accent-400 padding"
                                id="{{ i }}{{ Q }}"
                                placeholder=" "
                              />
                              <label for="{{ i }}{{ Q }}">Number</label>
                            </div>

                            <div
                              class="py-2"
                              *ngIf="Question.Response == 'yes/no'"
                            >
                              <input
                                type="radio"
                                value="YES"
                                formControlName="Response"
                                class="pl-2"
                              />
                              <span (click)="radioLabel(i,Q,'YES')" class="pr-5 pl-1 font-medium -mt-1 cursor-pointer">
                                Yes</span
                              >

                              <input
                                type="radio"
                                value="NO"
                                formControlName="Response"
                                class="pl-2"
                              />
                              <span (click)="radioLabel(i,Q,'NO')" class="pl-1 font-medium -mt-1 cursor-pointer"> No</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </form>
        <!-- member region end  -->

        <div class="mt-3">
          <button class="form-button m-2" mat-button matStepperPrevious>
            Back
          </button>
          <button
            class="form-button m-2"
            mat-button
            matStepperNext
            (click)="ProceedToPay()"
          >
            Proceed to Pay
          </button>
        </div>
      </mat-step>

    </mat-stepper>
  </div>
  <!-- region end form -->
</div>
