<div class="px-4 pb-4 h-full w-full">
    <!-- region main heading -->
    <div class="sticky top-0 pt-4 z-40 bg-default">
        <h1 class="new-head text-lg px-4 py-1.5 mb-4 rounded flex justify-between items-center font-semibold">
            {{ pagetitle }}

            <!-- region Heading Controls -->
            <div class="flex gap-x-3  items-center text-md font-normal">
                <button (click)="ShareNow()" mat-raised-button class="new-button">
                    <mat-icon>share</mat-icon><span class="hidden sm:block"> Share </span> </button>
                <button (click)="backClick()" mat-raised-button class="new-button">
                    Back
                </button>
            </div>
        </h1>
    </div>
    <!-- header region end -->

    <!-- body region start -->

    <div class="grid md:grid-cols-{{CompareListLength}} text-sm">
        <!-- Column with labels -->
        <section class="md:contents [&>div:first-child]:pt-10 [&>div:last-child]:pb-10" *ngIf="CompareListLength>0">
            <!-- Pricing toggle -->
            <div class="sticky top-10 bg-white dark:bg-slate-900 px-6 flex flex-col justify-end pt-3">
                <div class="pb-5 md:border-b border-slate-200 dark:border-slate-700">
                  <div class="py-2 text-base font-normal text-slate-900 mt-4 max-md:hidden">Features</div>
                </div>
            </div>
            <!-- # Features -->
            <div class="bg-white dark:bg-slate-900 px-6 flex flex-col justify-end max-md:hidden md:order-1"
                >
            </div>
            <!-- Premium -->
            <div class="bg-white dark:bg-slate-900 px-6 flex flex-col justify-end max-md:hidden md:order-2"
                >
                <div class="py-2 text-slate-600 dark:text-slate-400 border-b border-slate-200 dark:border-slate-700">
                    Premium</div>
            </div>
            <!-- Sum Insured -->
            <div class="bg-white dark:bg-slate-900 px-6 flex flex-col justify-end max-md:hidden md:order-3"
                >
                <div class="py-2 text-slate-600 dark:text-slate-400 border-b border-slate-200 dark:border-slate-700">Sum
                    Insured</div>
            </div>
            <!-- Type of Plan -->
            <div class="bg-white dark:bg-slate-900 px-6 flex flex-col justify-end max-md:hidden md:order-4"
                >
                <div class="py-2 text-slate-600 dark:text-slate-400 border-b border-slate-200 dark:border-slate-700">
                    Type of Plan</div>
            </div>
            <!-- Insurance Co. -->
            <div class="bg-white dark:bg-slate-900 px-6 flex flex-col justify-end max-md:hidden md:order-5"
                >
                <div class="py-2 text-slate-600 dark:text-slate-400 border-b border-slate-200 dark:border-slate-700">
                    Insurance Co.</div>
            </div>
            <!-- Adults -->
            <div class="bg-white dark:bg-slate-900 px-6 flex flex-col justify-end max-md:hidden md:order-6"
                >
                <div class="py-2 text-slate-600 dark:text-slate-400 border-b border-slate-200 dark:border-slate-700">
                    Adults</div>
            </div>
            <!-- Child -->
            <div class="bg-white dark:bg-slate-900 px-6 flex flex-col justify-end max-md:hidden md:order-7"
                >
                <div class="py-2 text-slate-600 dark:text-slate-400 border-b border-slate-200 dark:border-slate-700">
                    Child</div>
            </div>
            <!-- Room Limit -->
            <div class="bg-white dark:bg-slate-900 px-6 flex flex-col justify-end max-md:hidden md:order-8"
                >
                <div class="py-2 text-slate-600 dark:text-slate-400 border-b border-slate-200 dark:border-slate-700">
                    Room Limit</div>
            </div>
            <!-- No Claim Bonus -->
            <div class="bg-white dark:bg-slate-900 px-6 flex flex-col justify-end max-md:hidden md:order-9"
                >
                <div class="py-2 text-slate-600 dark:text-slate-400 border-b border-slate-200 dark:border-slate-700">No
                    Claim Bonus</div>
            </div>
            <!-- Restoration Benefit -->
            <div class="bg-white dark:bg-slate-900 px-6 flex flex-col justify-end max-md:hidden md:order-10"
                >
                <div class="py-2 text-slate-600 dark:text-slate-400 border-b border-slate-200 dark:border-slate-700">
                    Restoration Benefit</div>
            </div>
            <!-- Maternity Cover -->
            <div class="bg-white dark:bg-slate-900 px-6 flex flex-col justify-end max-md:hidden md:order-11"
                >
                <div class="py-2 text-slate-600 dark:text-slate-400 border-b border-slate-200 dark:border-slate-700">
                    Maternity Cover</div>
            </div>
            <!-- Consumable -->
            <div class="bg-white dark:bg-slate-900 px-6 flex flex-col justify-end max-md:hidden md:order-12"
                >
                <div class="py-2 text-slate-600 dark:text-slate-400 border-b border-slate-200 dark:border-slate-700">
                    Consumable</div>
            </div>
            <!-- # Pre Existing Disease Waiting Period -->
            <div class="bg-white dark:bg-slate-900 px-6 flex flex-col justify-end max-md:hidden md:order-[13]"
                >
                <div class="py-2 text-slate-600 dark:text-slate-400 border-b border-slate-200 dark:border-slate-700">Pre
                    Existing Disease Waiting Period</div>
            </div>
            <!-- Specific Waiting Period -->
            <div class="bg-white dark:bg-slate-900 px-6 flex flex-col justify-end max-md:hidden md:order-[14]"
                >
                <div class="py-2 text-slate-600 dark:text-slate-400 border-b border-slate-200 dark:border-slate-700">
                    Specific Waiting Period</div>
            </div>
            <!-- Pre & Post Hospitalization -->
            <div class="bg-white dark:bg-slate-900 px-6 flex flex-col justify-end max-md:hidden md:order-[15]"
                >
                <div class="py-2 text-slate-600 dark:text-slate-400 border-b border-slate-200 dark:border-slate-700">Pre
                    & Post Hospitalization</div>
            </div>
            <!-- Day Care Treatments -->
            <div class="bg-white dark:bg-slate-900 px-6 flex flex-col justify-end max-md:hidden md:order-[16]"
                >
                <div class="py-2 text-slate-600 dark:text-slate-400 border-b border-slate-200 dark:border-slate-700">Day
                    Care Treatments</div>
            </div>
            <!-- Organ Donor -->
            <div class="bg-white dark:bg-slate-900 px-6 flex flex-col justify-end max-md:hidden md:order-[17]"
                >
                <div class="py-2 text-slate-600 dark:text-slate-400 border-b border-slate-200 dark:border-slate-700">
                    Organ Donor</div>
            </div>
            <!-- Cataract -->
            <div class="bg-white dark:bg-slate-900 px-6 flex flex-col justify-end max-md:hidden md:order-[18]"
                >
                <div class="py-2 text-slate-600 dark:text-slate-400 border-b border-slate-200 dark:border-slate-700">
                    Cataract</div>
            </div>
            <!-- Ayush Benefit -->
            <div class="bg-white dark:bg-slate-900 px-6 flex flex-col justify-end max-md:hidden md:order-[19]"
                >
                <div class="py-2 text-slate-600 dark:text-slate-400 border-b border-slate-200 dark:border-slate-700">
                    Ayush Benefit</div>
            </div>
            <!-- Bariatric -->
            <div class="bg-white dark:bg-slate-900 px-6 flex flex-col justify-end max-md:hidden md:order-[20]"
                >
                <div class="py-2 text-slate-600 dark:text-slate-400 border-b border-slate-200 dark:border-slate-700">
                    Bariatric</div>
            </div>
            <!-- Health Check-up -->
            <div class="bg-white dark:bg-slate-900 px-6 flex flex-col justify-end max-md:hidden md:order-[21]"
                >
                <div class="py-2 text-slate-600 dark:text-slate-400 border-b border-slate-200 dark:border-slate-700">
                    Health Check-up</div>
            </div>

        </section>
        <!-- End: Column with labels -->
        <!-- Essential table -->
        <section class="md:contents [&>div:first-child]:pt-10 [&>div:last-child]:pb-10"
            *ngFor="let element of CompareList;let i = index">
            <div class=" bg-white dark:bg-slate-900 px-4 lg:px-6 flex flex-col justify-end sticky top-10 pt-3">
                <div class="justify-center md:justify-start grow grid grid-rows-[minmax(60px,1fr)_minmax(40px,30px)_minmax(40px,30px)]">
                    <div class="font-semibold text-slate-900 dark:text-slate-200 min-h-22 mb-0.5">
                      <div class="border-2 rounded-2xl w-48 h-26 p-6 flex justify-center" >
                        <img src="{{  element.IconURL }}" alt=""  class="w-auto h-auto" />
                      </div>
                      </div>
                    <div class="mb-1">
                        <span class="text-3xl font-bold text-slate-900 dark:text-slate-200"> {{ element.TotalPremium |
                            indCurrency }}</span><span
                            class="text-slate-500 font-medium">/{{element.PolicyPeriodName}}</span>
                    </div>
                    <div class="text-sm text-slate-500">{{element.ProductName}}</div>
                </div>
                <div class="justify-center md:justify-start flex pb-4 border-b border-slate-200 dark:border-slate-700">
                    <button (click)="buyNow(element)" mat-raised-button
                        class="bg-royal text-on-primary-800 lg:w-48 md:w-fit sm:w-fit">
                        <mat-icon>shopping_cart</mat-icon><span class="hidden sm:block">Buy Now </span>
                    </button>
                </div>
            </div>
            <!-- # Platform -->
            <div class="bg-white dark:bg-slate-900 px-4 lg:px-6 flex flex-col justify-end md:order-1">
            </div>
            <!-- Premium -->
            <div class="bg-white dark:bg-slate-900 px-4 lg:px-6 flex flex-col justify-end md:order-2">
                <div
                    class="flex items-center h-full border-b border-slate-200 dark:border-slate-700 py-2 text-slate-600 dark:text-slate-400">
                    <svg class="shrink-0 fill-emerald-500 mr-3" xmlns="http://www.w3.org/2000/svg" width="12"
                        height="9">
                        <path
                            d="M10.28.28 3.989 6.575 1.695 4.28A1 1 0 0 0 .28 5.695l3 3a1 1 0 0 0 1.414 0l7-7A1 1 0 0 0 10.28.28Z" />
                    </svg>
                    <span><span class="md:sr-only">Premium</span> {{ element.TotalPremium | indCurrency }} </span>
                </div>
            </div>
            <!-- Sum Insured -->
            <div class="bg-white dark:bg-slate-900 px-4 lg:px-6 flex flex-col justify-end md:order-3">
                <div
                    class="flex items-center h-full border-b border-slate-200 dark:border-slate-700 py-2 text-slate-600 dark:text-slate-400">
                    <span><span class="md:sr-only">Sum Insured</span> {{ element.SumInsured | indCurrency }}</span>
                </div>
            </div>
            <!-- Type of Plan -->
            <div class="bg-white dark:bg-slate-900 px-4 lg:px-6 flex flex-col justify-end md:order-4">
                <div
                    class="flex items-center h-full border-b border-slate-200 dark:border-slate-700 py-2 text-slate-600 dark:text-slate-400">
                    <span><span class="md:sr-only">Type of Plan</span> {{ element.PolicyTypeName }} </span>
                </div>
            </div>
            <!-- Insurance Co. -->
            <div class="bg-white dark:bg-slate-900 px-4 lg:px-6 flex flex-col justify-end md:order-5">
                <div
                    class="flex items-center h-full border-b border-slate-200 dark:border-slate-700 py-2 text-slate-600 dark:text-slate-400">
                    <span><span class="md:sr-only">Insurance Co.</span> {{ element.InsurerName }} </span>
                </div>
            </div>
            <!-- # Adults  -->
            <div class="bg-white dark:bg-slate-900 px-4 lg:px-6 flex flex-col justify-end md:order-6">
                <div
                    class="flex items-center h-full border-b border-slate-200 dark:border-slate-700 py-2 text-slate-600 dark:text-slate-400">
                    <span><span class="md:sr-only">Adults</span> {{ element.AdultsCount }} </span>
                </div>
            </div>
            <!-- Child -->
            <div class="bg-white dark:bg-slate-900 px-4 lg:px-6 flex flex-col justify-end md:order-7">
                <div
                    class="flex items-center h-full border-b border-slate-200 dark:border-slate-700 py-2 text-slate-600 dark:text-slate-400">
                    <span><span class="md:sr-only">Child</span> {{ element.ChildCount }} </span>
                </div>
            </div>
            <!-- Room Limit -->
            <div class="bg-white dark:bg-slate-900 px-4 lg:px-6 flex flex-col justify-end md:order-8">
                <div
                    class="flex items-center h-full border-b border-slate-200 dark:border-slate-700 py-2 text-slate-600 dark:text-slate-400">
                    <span><span class="md:sr-only">Room Limit</span> {{ element.RoomLimit }} </span>
                </div>
            </div>
            <!-- No Claim Bonus -->
            <div class="bg-white dark:bg-slate-900 px-4 lg:px-6 flex flex-col justify-end md:order-9">
                <div
                    class="flex items-center h-full border-b border-slate-200 dark:border-slate-700 py-2 text-slate-600 dark:text-slate-400">
                    <span><span class="md:sr-only">No Claim Bonus</span> {{ element.NoClaimBonus }}</span>
                </div>
            </div>
            <!-- Restoration Benefit -->
            <div class="bg-white dark:bg-slate-900 px-4 lg:px-6 flex flex-col justify-end md:order-10">
                <div
                    class="flex items-center border-b border-slate-200 dark:border-slate-700 py-2 text-slate-600 max-md:sr-only">
                    <span><span class="md:sr-only">Restoration Benefit</span> {{ element.RestorationBenefit }}</span>
                </div>
            </div>
            <!-- Maternity Cover -->
            <div class="bg-white dark:bg-slate-900 px-4 lg:px-6 flex flex-col justify-end md:order-11">
                <div
                    class="flex items-center border-b border-slate-200 dark:border-slate-700 py-2 text-slate-600 max-md:sr-only">
                </div>
            </div>
            <!-- Consumable -->
            <div class="bg-white dark:bg-slate-900 px-4 lg:px-6 flex flex-col justify-end md:order-12">
                <div
                    class="flex items-center border-b border-slate-200 dark:border-slate-700 py-2 text-slate-600 max-md:sr-only">
                    <span><span class="md:sr-only">Consumable</span> {{ element.Consumable }}</span>
                </div>
            </div>
            <!-- Pre Existing Disease Waiting Period -->
            <div class="bg-white dark:bg-slate-900 px-4 lg:px-6 flex flex-col justify-end md:order-[13]">
                <div
                    class="flex items-center border-b border-slate-200 dark:border-slate-700 py-2 text-slate-600 max-md:sr-only">
                    <span><span class="md:sr-only">Pre Existing Disease Waiting Period</span> {{
                        element.PEDWaitingPeriod }}</span>
                </div>
            </div>
            <!-- Specific Waiting Period -->
            <div class="bg-white dark:bg-slate-900 px-4 lg:px-6 flex flex-col justify-end md:order-[14]">
                <div
                    class="flex items-center border-b border-slate-200 dark:border-slate-700 py-2 text-slate-600 max-md:sr-only">
                    <span><span class="md:sr-only">Specific Waiting Period</span> {{ element.SpecificWaitingPeriod
                        }}</span>
                </div>
            </div>
            <!-- Pre & Post Hospitalization -->
            <div class="bg-white dark:bg-slate-900 px-4 lg:px-6 flex flex-col justify-end md:order-[15]">
                <div
                    class="flex items-center border-b border-slate-200 dark:border-slate-700 py-2 text-slate-600 max-md:sr-only">
                    <span><span class="md:sr-only">Pre & Post Hospitalization</span> {{ element.PrePostHospitalization
                        }}</span>
                </div>
            </div>
            <!-- Day Care Treatments -->
            <div class="bg-white dark:bg-slate-900 px-4 lg:px-6 flex flex-col justify-end md:order-[16]">
                <div
                    class="flex items-center border-b border-slate-200 dark:border-slate-700 py-2 text-slate-600 max-md:sr-only">
                    <span><span class="md:sr-only">Day Care Treatments</span> {{ element.DayCareTreatments }}</span>
                </div>
            </div>
            <!-- Organ Donor -->
            <div class="bg-white dark:bg-slate-900 px-4 lg:px-6 flex flex-col justify-end md:order-[17]">
                <div
                    class="flex items-center border-b border-slate-200 dark:border-slate-700 py-2 text-slate-600 max-md:sr-only">
                    <span><span class="md:sr-only">Organ Donor</span> {{ element.OrganDonor }}</span>
                </div>
            </div>
            <!-- Cataract -->
            <div class="bg-white dark:bg-slate-900 px-4 lg:px-6 flex flex-col justify-end md:order-[18]">
                <div
                    class="flex items-center border-b border-slate-200 dark:border-slate-700 py-2 text-slate-600 max-md:sr-only">
                    <span><span class="md:sr-only">Cataract</span> {{ element.Cataract }}</span>
                </div>
            </div>
            <!-- Ayush Benefit -->
            <div class="bg-white dark:bg-slate-900 px-4 lg:px-6 flex flex-col justify-end md:order-[19]">
                <div
                    class="flex items-center border-b border-slate-200 dark:border-slate-700 py-2 text-slate-600 max-md:sr-only">
                    <span><span class="md:sr-only">Ayush Benefit</span> {{ element.AyushBenefit }}</span>
                </div>
            </div>
            <!-- Bariatric -->
            <div class="bg-white dark:bg-slate-900 px-4 lg:px-6 flex flex-col justify-end md:order-[20]">
                <div
                    class="flex items-center border-b border-slate-200 dark:border-slate-700 py-2 text-slate-600 max-md:sr-only">
                    <span><span class="md:sr-only">Bariatric</span> {{ element.Bariatric }}</span>
                </div>
            </div>
            <!-- Health Check-up -->
            <div class="bg-white dark:bg-slate-900 px-4 lg:px-6 flex flex-col justify-end md:order-[21]">
                <div
                    class="flex items-center border-b border-slate-200 dark:border-slate-700 py-2 text-slate-600 max-md:sr-only">
                    <span><span class="md:sr-only">Health Check-up</span> {{ element.HealthCheckup }}</span>
                </div>
            </div>
        </section>

    </div>

</div>
