.headingBorder {
    background-color: rgb(241, 245, 249) !important;
}
.CheckBoxLabel {
    .lableInputbox label {
        top: 10px !important;
    }
}

.custom-checkbox-label {
    display: flex !important;
    gap: 5px !important;

    label {
        position: unset !important;
        font-size: small !important;
    }
}