<div class="p-2 w-full h-full theme-default light overflow-scroll">
  <div class="flex flex-wrap items-center">
    <div class="w-full flex justify-center  px-4 mr-auto ml-auto">
      <div class="justify-center flex flex-wrap relative  ">
        <div class="my-4 px-4 w-full gap-5 md:grid grid-cols-[minmax(100px,300px)_minmax(100px,300px)] xl:grid-cols-2">
          <!-- Car -->
          <div routerLink="{{Routing.MotorCarQuote.Car}}" class="hover:cursor-pointer">
            <div class="bg-[#3CBBDA] w-72 shadow-lg  rounded-lg text-center p-10 mt-8">
              <div class="shadow-md rounded-full max-w-full w-20 mx-auto bg-white h-20 p-2 boxlogo">
                <img alt="..." src="../../../../../assets/icons/bi/images.png" />
              </div>

              <p class="text-lg text-white mt-4 font-semibold">Car</p>
            </div>
          </div>

          <!-- Two Wheeler -->
          <div routerLink="{{Routing.MotorTwoWheelerQuote.TwoWheeler}}" class="hover:cursor-pointer">
            <div class="bg-[#fa914c] w-72  shadow-lg rounded-lg text-center p-10 mt-8">
              <div class="shadow-md rounded-full max-w-full w-20 mx-auto bg-white h-20 p-2 boxlogo">
                <img alt="..." src="../../../../../assets/icons/bi/2. TWO WHEELER.png" />
              </div>
              <p class="text-lg text-white mt-4 font-semibold">Two Wheeler</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>