<div class="p-2 w-full h-full theme-default light overflow-scroll">
    <div class="flex flex-wrap items-center">
        <div class="w-full flex justify-center  mr-auto ml-auto">
            <div class="justify-center flex flex-wrap relative">
                <div
                    class="my-4 px-4 w-full gap-5 grid lg:mt-5 md:grid-cols-3 sm:grid-cols-2 xl:grid-cols-5 justify-center">
                    <div class="mt-5" *ngFor="let card of RFQQuotationCategoryList">
                        <div
                            class="bg-[#ffffff] card-hover shadow-lg rounded-lg text-center min-w-44 max-w-72 h-52 relative">

                            <a routerLink="{{card.state}}">
                                <div class="px-10 pt-3 h-44">
                                    <div
                                        class="shadow-md rounded-full max-w-full w-20 mx-auto bg-white h-20 p-2 boxlogo">
                                        <img alt="Health" [src]="card.imgURL" />
                                    </div>
                                    <p class="text-lg  mt-4 font-semibold">{{card.title}}</p>
                                </div>
                            </a>

                            <div class="mt-2 absolute bottom-0 w-full">

                                <hr class="my-0 mx-2">

                                <div class="py-2 flex flex-wrap justify-end mr-3 gap-3 min-h-10">
                                    <div *ngFor="let btn of card.qnDocument">
                                        <div class="w-fit py-1 border border-1 border-[#318BC9] btn-color px-2 rounded-2xl flex  text-on-primary-80 text-[#318BC9]"
                                            (click)="downloadQnDocument(btn)" [matTooltip]="btn.tooltip">
                                            <span class="text-md">{{btn.downloadFor}}</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>