.kycsuccess{
    color: #58bf58 !important;
  }

span.mandatory {
  @apply after:content-['*'] after:ml-1 after:text-red-500;
}

.custom-checkbox-label {
  display: flex !important;
  gap: 5px !important;

  label {
    position: unset !important;
    font-size: small !important;
  }
}