<div class="p-4 h-full w-full">
  <!-- region main heading -->
  <h1 class="new-head text-lg px-4 py-1.5 rounded flex justify-between items-center font-semibold">
    {{ title }}

    <div class="flex gap-x-3  items-center text-lg font-normal">
      <button mat-raised-button class="new-button" [disabled]="SourceForm.invalid" (click)="submitform()"
        *ngIf="mode == 'Create' || mode == 'Edit'">Save</button>

      <button mat-raised-button class="new-button" (click)="backClicked()" *ngIf="mode == 'Edit' || mode == 'Create'">Cancel</button>

      <button mat-raised-button class="new-button" (click)="backClicked()" *ngIf="mode == 'View'">Back</button>
    </div>
  </h1>
  <!-- endregion main heading -->

  <!-- region form -->
  <div class="px-4 py-7 rounded bg-white">
    <form [formGroup]="SourceForm" class="sm:w-120 text-md">

      <div class="grid gap-4">

        <!-- Source Name  -->
        <div class="relative">
          <div class="icon">
            <mat-icon> person_pin</mat-icon>
          </div>
          <input type="text" #firstElement id="Name" AlphabetOnly placeholder=" " class="peer" minlength="1"
            maxlength="120" formControlName="Name" />
          <label for="Name" class="mandatory">Source Name</label>
        </div>

        <!-- Status  -->
        <div class="font-medium py-5 grid grid-cols-[minmax(60px,100px)_minmax(60px,100px)]">
          <span for="Status" class="pr-2 py-1 font-medium ml-3">Status</span>
          <mat-slide-toggle color="primary" formControlName="Status" class="relative mt-1"
            (change)="onChange($event,'Status')">
            <span class="flex font-medium text-xl ml-3 mt-1.5">
              {{
              SourceForm.controls['Status'].value == 1
              ? "Active"
              : "InActive"
              }}
            </span>
          </mat-slide-toggle>
        </div>

      </div>
    </form>
  </div>
  <!-- endregion form -->
</div>