/* claim-decision.component.scss */
:host {
    display: block;
  }
  
  table {
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  input {
    width: 100%;
    max-width: 150px;
  }