<div class="p-4 h-full w-full">
    <!-- region main heading -->
    <h1 class="new-head text-xl px-4 py-2 rounded flex justify-between items-center font-semibold">
        {{ title }}

        <!-- region main heading controls-->
        <div class="flex gap-x-3  items-center text-lg font-normal">
            <button mat-raised-button class="new-button" (click)="submitForm()" [disabled]="ODPremiumForm.invalid" *ngIf="mode == 'Create' || mode == 'Edit'">
                Save
            </button>

            <button mat-raised-button class="new-button" (click)="backClicked()" *ngIf="mode == 'Edit' || mode == 'Create'">
                Cancel
            </button>

            <button mat-raised-button class="new-button" (click)="backClicked()" *ngIf="mode == 'View'">
                Back
            </button>
        </div>
        <!-- endregion main heading controls-->
    </h1>
    <!-- endregion main heading -->

    <!-- region form -->
    <div class="px-4 py-7 rounded bg-white">
        <form [formGroup]="ODPremiumForm">
            <div class="grid gap-6 sm:w-120">

                <!-- Insurance Company -->
                <div class="relative ">
                    <div class="icon">
                        <mat-icon>tonality</mat-icon>
                    </div>
                    <div class="flex">
                        <input type="text" class="peer" maxlength="120" id="InsurerCode" formControlName="InsuranceCompanyName" AlphabetOnly placeholder=" " [matAutocomplete]="InsuranceCompanyNameSearch">
                        <mat-autocomplete #InsuranceCompanyNameSearch="matAutocomplete" (optionSelected)="InsuranceCompanyNameSelected($event)">
                            <mat-option *ngFor="let Company Of InsuranceCompany$ | async" [value]="Company">
                                {{Company.Name}}
                            </mat-option>
                        </mat-autocomplete>
                        <button class="-m-5 z-10" type="button" *ngIf="editable" (click)="openDiolog('Insurance','Select Insurance Company')">
                            <mat-icon class="-ml-2">
                                search
                            </mat-icon></button>
                        <button *ngIf="ODPremiumForm.get('InsuranceCompanyCode').value && mode != 'View'" type="button" class="-m-7 z-10" aria-label="clear" matTooltip="Clear" (click)="clear('InsuranceCompanyName','InsuranceCompanyCode')">
                            <mat-icon>clear</mat-icon>
                        </button>
                        <label for="InsurerCode" class="mandatory">Insurance Company</label>
                    </div>
                    
                </div>

                <!-- Owner Driver -->
                <div class="relative ">
                    <div class="icon rs">₹</div>
                    <input type="text" class="peer " Onlynumber maxlength="8" formControlName="OwnerDriver" id="OwnerDriver" placeholder=" " />
                    <label for="OwnerDriver" class="mandatory">Owner Driver</label>
                </div>

                <!-- Status  -->
                <div class="font-medium py-1 grid grid-cols-[minmax(60px,100px)_minmax(60px,100px)]">
                    <span for="Status" class="pr-2 py-1 font-medium ml-3">Status</span>
                    <mat-slide-toggle color="primary" formControlName="Status" class="relative mt-1" (change)="onChange($event,'Status')">
                      <span class="flex font-medium text-xl ml-3 mt-1.5">
                        {{ ODPremiumForm.get('Status').value==1 ? "Active" : "InActive" }}
                      </span>
                    </mat-slide-toggle>
                </div>

            </div>
        </form>
    </div>
</div>