<!-- <div class="container mx-auto bg-white shadow-lg rounded-lg p-6">

  <div class="bg-cyan-600 text-white p-4 rounded-t-lg flex justify-between items-center">
    <h2 class="text-xl font-semibold">View Claim Details</h2>
    <button class="bg-white text-gray-700 px-4 py-2 rounded-full shadow-lg hover:bg-gray-100 transition"
      (click)="goBack()">
      Back to Claims
    </button>
  </div>

  <div *ngIf="isLoading" class="flex justify-center items-center mt-8">
    <div class="animate-spin rounded-full h-8 w-8 border-t-2 border-b-2 border-blue-600"></div>
  </div>

  <div *ngIf="errorMessage" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded-md mt-4">
    {{ errorMessage }}
  </div>

  <div *ngIf="!isLoading && claim" class="mt-6">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div>
        <label class="block text-sm font-medium text-gray-700">Claim ID</label>
        <p class="mt-1 text-gray-900">{{ claim.ClaimId || '-' }}</p>
      </div>
      <div>
        <label class="block text-sm font-medium text-gray-700">Full Name</label>
        <p class="mt-1 text-gray-900">{{ claim.FullName || '-' }}</p>
      </div>
      <div>
        <label class="block text-sm font-medium text-gray-700">Phone Number</label>
        <p class="mt-1 text-gray-900">{{ claim.PhoneNumber || '-' }}</p>
      </div>
      <div>
        <label class="block text-sm font-medium text-gray-700">Email</label>
        <p class="mt-1 text-gray-900">{{ claim.Email || '-' }}</p>
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700">Policy Number</label>
        <p class="mt-1 text-gray-900">{{ claim.PolicyNo || '-' }}</p>
      </div>
      <div>
        <label class="block text-sm font-medium text-gray-700">Policy Name</label>
        <p class="mt-1 text-gray-900">{{ claim.PolicyType || '-' }}</p>
      </div>
      <div>
        <label class="block text-sm font-medium text-gray-700">Policy Start Date</label>
        <p class="mt-1 text-gray-900">{{ claim.StartDate || '-' }}</p>
      </div>
      <div>
        <label class="block text-sm font-medium text-gray-700">Policy End Date</label>
        <p class="mt-1 text-gray-900">{{ claim.EndDate || '-' }}</p>
      </div>
    </div>
  </div>

  <div *ngIf="!isLoading && !claim && !errorMessage" class="mt-6 bg-gray-100 p-6 rounded-md text-center shadow-md">
    <p class="text-gray-600">No claim data available.</p>
  </div>
</div> -->









<!-- emp  -->

