.mappingtable {
    table {
        width: 100% !important;

    }

         th {
             font-weight: normal !important;
         }
    th,
    td {
        border: 1px solid #CBD5E1;
    }

    input,
    select {
        padding: 5px !important;
        height: auto !important;
        min-width: 85px !important;
        // border: 0cap;
    }
         .col-make {
             width: 10% !important;
             // min-width: 150px !important;
         }
    
         .col-modelno {
             width: 20% !important;
             // min-width: 300px !important;
         }
    
         .col-serialno {
             width: 20% !important;
             // min-width: 300px !important;
         }
    
         .col-itemdesc {
             width: 20% !important;
             // min-width: 300px !important;
         }
    
         .col-manufacturingyear {
             width: 10% !important;
             // min-width: 150px !important;
         }
    
         .col-suminsured {
             width: 10% !important;
             // min-width: 150px !important;
         }
}

.headingBorder {
    background-color: rgb(241, 245, 249) !important;
}

.custom-checkbox-label {
    display: flex !important;
    gap: 5px !important;

    label {
        position: unset !important;
        font-size: small !important;
    }
}