<div class="p-2 w-full h-full theme-default light overflow-scroll">
    <div class="flex flex-wrap items-center">
      <div class="w-full flex justify-center  px-4 mr-auto ml-auto">
        <div class="justify-center flex flex-wrap relative  ">
          <div class="my-4 px-4 w-full gap-5 md:grid grid-cols-[minmax(100px,300px)_minmax(100px,300px)] xl:grid-cols-2">
            <!-- Mediclaim -->
            <a routerLink="{{Routing.QuoteMediclaim.Health}}">
              <div class="bg-[#4FDC95] w-72 shadow-lg  rounded-lg text-center p-10 mt-8">
                <img alt="..." class="shadow-md rounded-full max-w-full w-22 mx-auto  bg-white"
                  src="../../../../../assets/icons/i/7. Claim.png" />
                <p class="text-lg text-white mt-4 font-semibold">Mediclaim</p>
              </div>
            </a>
  
            <!-- Top-up Plan -->
            <!-- <a routerLink="{{Routing.QuoteTopUpPlan.TopUp}}"> -->
            <a routerLink="#">
              <div class="bg-[#FF9898] w-72  shadow-lg rounded-lg text-center p-10 mt-8">
                <img alt="..." class="shadow-md rounded-full max-w-full w-22 mx-auto bg-white"
                  src="../../../../../assets/icons/i/5. Renewal.png " />
                <p class="text-lg text-white mt-4 font-semibold">Top-up Plan</p>
              </div>
            </a>
  
          </div>
        </div>
      </div>
    </div>
  </div>