<div class="bg-gray-100 h-screen">
  <div class="bg-white p-6  md:mx-auto">
    <div class="failedbox">
      <img src="../../../../../../assets/failed.avif" class="failedimg">
    </div>
    <div class="text-center">
        <h3 class="md:text-2xl text-base text-gray-900 font-semibold text-center">Payment unsuccessful!</h3>
        <p class="text-gray-600 my-2">Your payment was unsuccessful. please try again.</p>
        <p> Have a great day!  </p>
        <div class="py-10 text-center">
            <button (click)="TryAgain()" class="px-12 bg-indigo-600 hover:bg-indigo-500 text-white font-semibold py-3">
              Try Again
           </button>
        </div>
    </div>
</div>
</div>
