.mappingtable{
    table {
        width: 100% !important;
       
    } 
    th, td {
        border:1px solid black;
    }
    input {
        padding: 5px !important;
        height: auto !important;
        min-width: 85px !important;
        border: 0cap;
    }
}