<div class="px-4 pb-4 max-h-none w-full">

    <!-- region main heading -->
    <div class="pt-4 sticky z-30 headingBorder top-0 w-full">
        <!-- region main heading -->
        <h1 class="new-head h-14 text-lg px-4 py-1.5 rounded flex justify-between items-center font-semibold">
            {{ pagetitle }}
            <div class="flex gap-x-3  items-center text-lg font-normal">
                <button mat-raised-button class="new-button" (click)="backButton()">Back</button>
                <button mat-raised-button class="new-button" (click)="expandCollaps()" *ngIf="mode != 'view'">
                    {{isExpand ? 'Collapse' : 'Expand All'}}
                </button>
            </div>
        </h1>

        <div class="">
            <div class="px-4 py-4 rounded bg-white">
                <mat-card class="bg-sky-100 px-4 py-3 gap-2 container mx-auto min-h-16">
                    <div class="flex flex-wrap gap-3 justify-between px-4 sm:text-center">

                        <!-- RFQ No -->
                        <div class="sm:grid-cols-1 grid grid-cols-2 text-slate-950">
                            <span class="text-center font-semibold">RFQ No</span>
                            <span class="font-normal text-center">{{rfqRaiseForm.get("RFQNo").value}}</span>
                        </div>

                        <!-- Customer name -->
                        <div class="sm:grid-cols-1 grid grid-cols-2 text-slate-950">
                            <span class="text-center font-semibold">Customer name</span>
                            <span class="font-normal text-center">{{rfqRaiseForm.get("ProposerName").value}}</span>
                        </div>

                        <!-- Sub Category -->
                        <div class="sm:grid-cols-1 grid grid-cols-2 text-slate-950">
                            <span class="text-center font-semibold">Sub Category</span>
                            <span class="font-normal text-center">{{rfqRaiseForm.get("SubCategoryName").value}}</span>
                        </div>

                    </div>
                </mat-card>
            </div>
        </div>
    </div>
    <!-- endregion main heading -->

    <!-- Start of Body -->
    <div class="">
        <form [formGroup]="rfqRaiseForm">
            <!-- Region Form -->
            <div class="py-5 rounded">
                <mat-stepper orientation="vertical" #stepper [linear]="true" [ngClass]="isExpand ? 'showstep' : ''">

                    <!-- First stepper -->
                    <mat-step label="Basic Details" [stepControl]="basicDetailsValidations()">

                        <div class="grid lg:grid-cols-4 sm:grid-cols-2 gap-3 mt-4">

                            <!-- Product Sub Type -->
                            <div class="relative ">
                                <div class="icon">
                                    <mat-icon>category</mat-icon>
                                </div>
                                <select class="peer" id="ProductSubCategroy" formControlName="SubCategoryId">
                                    <option value="0">--Select--</option>
                                    <option *ngFor="let option of SubCategoryList" value="{{option.Id}}">
                                        {{ option.Name }}
                                    </option>
                                </select>
                                <label for="ProductSubCategroy" class="mandatory">Product Sub Type</label>
                            </div>

                            <!-- Policy Type -->
                            <div class="relative ">
                                <div class="icon">
                                    <mat-icon>timelapse</mat-icon>
                                </div>
                                <select class="peer" id="PolicyType" formControlName="PolicyType">
                                    <option value="">--Select--</option>
                                    <option *ngFor="let option of displayedRFQPackagePolicyType" [value]="option.value">
                                        {{option.name}}
                                    </option>
                                </select>
                                <label for="PolicyType" class="mandatory">Policy Type</label>
                            </div>

                        </div>

                        <div class="mt-5" *ngIf="!isExpand">
                            <button class="bg-royal text-white" type="button" mat-button matStepperNext
                                (click)="basicDetailsError()">
                                Next
                            </button>
                        </div>

                    </mat-step>

                    <!-- Second stepper -->
                    <mat-step label="Product Category Details" [stepControl]="productCategoryDetailsValidations()">

                        <div class="grid lg:grid-cols-4 md:grid-cols-2 gap-3 mt-4 ">

                            <!-- Insured Name -->
                            <div class="relative">
                                <div class="icon">
                                    <mat-icon>person</mat-icon>
                                </div>
                                <input matInput type="text" id="ProposerName" formControlName="ProposerName"
                                    placeholder=" " maxlength="200" class="peer" required />
                                <label for="ProposerName" class="mandatory">Insured Name</label>
                            </div>

                            <!--  PIN Code -->
                            <div class="relative ">
                                <div class="icon">
                                    <mat-icon>pin_drop</mat-icon>
                                </div>
                                <div class="flex">
                                    <input type="text" Onlynumber maxlength="6" class="peer" formControlName="Pincode"
                                        placeholder=" " id="PincodeNumber" [matAutocomplete]="oppoSearch"
                                        autocomplete="off" />
                                    <mat-autocomplete class="peer" #oppoSearch="matAutocomplete"
                                        (optionSelected)="autocompleteSelectedEvent($event,'PINcode')">
                                        <mat-option *ngFor="let pincode of pincodes$ | async" [value]="pincode">
                                            {{ pincode.PinCode }} {{ pincode.CityName }},{{pincode.Area}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <button class="-m-5 z-10" type="button" *ngIf="mode != 'view'"
                                        (click)="openDiologForPINcode('Pincode','Select Pincode')">
                                        <mat-icon class="-ml-2">
                                            search
                                        </mat-icon>
                                    </button>
                                    <button *ngIf="rfqRaiseForm.get('Pincode').value  && mode != 'view'" type="button"
                                        class="-mx-7 z-10" aria-label="clear" matTooltip="Clear"
                                        (click)="clearPincode()">
                                        <mat-icon>clear</mat-icon>
                                    </button>
                                    <label for="PinCodeNumber" class="mandatory">Risk Location/Pin Code</label>
                                </div>
                            </div>

                            <!-- Proposer Mobile No -->
                            <div class="relative">
                                <div class="icon">
                                    <mat-icon>phone</mat-icon>
                                </div>
                                <input matInput type="text" id="ProposerMobileNo" formControlName="ProposerMobileNo"
                                    placeholder=" " Onlynumber maxlength="10" class="peer" required />
                                <label for="ProposerMobileNo" class="mandatory">Proposer Mobile No</label>
                            </div>

                            <!-- Email ID -->
                            <div class="relative">
                                <div class="icon">
                                    <mat-icon> email</mat-icon>
                                </div>
                                <input matInput type="email" id="EmailID" formControlName="ProposerEmail"
                                    placeholder=" " class="peer" />
                                <label for="EmailID" class="">Email ID</label>
                            </div>

                            <!--  No of Floor -->
                            <div class="relative" formGroupName="OtherDetail"
                                *ngIf="rfqRaiseForm.get('SubCategoryCode').value == subCategoryCodeEnum.HotelPack">
                                <div class="icon">
                                    <mat-icon>apartment</mat-icon>
                                </div>
                                <input type="text" id="NoOfFloor" formControlName="NoOfFloor" placeholder=" "
                                    class="peer" />
                                <label for="NoOfFloor" class="">No of Floor</label>
                            </div>


                            <!-- Age of Building(Year) -->
                            <div class="relative" formGroupName="OtherDetail" *ngIf="rfqRaiseForm.get('SubCategoryCode').value == subCategoryCodeEnum.HouseHolder ||
                                   rfqRaiseForm.get('SubCategoryCode').value == subCategoryCodeEnum.OfficePack">
                                <div class="icon">
                                    <mat-icon>domain</mat-icon>
                                </div>
                                <input type="text" id="BuildingAge" formControlName="BuildingAge" placeholder=" "
                                    class="peer" />
                                <label for="BuildingAge" class="">Age of Building(Year)</label>
                            </div>

                            <!--  Address -->
                            <div class="relative md:col-span-2"
                                *ngIf="rfqRaiseForm.get('SubCategoryCode').value == subCategoryCodeEnum.HotelPack || 
                            rfqRaiseForm.get('SubCategoryCode').value == subCategoryCodeEnum.OfficePack || rfqRaiseForm.get('SubCategoryCode').value == subCategoryCodeEnum.Shopkeepers">
                                <div class="icon">
                                    <mat-icon>home</mat-icon>
                                </div>
                                <input type="text" id="CommunicationAddress" formControlName="CommunicationAddress"
                                    placeholder=" " class="peer" maxlength="1000" />
                                <label for="CommunicationAddress" class="">Address</label>
                            </div>

                            <!--  Nature of Business -->
                            <div class="relative"
                                *ngIf="rfqRaiseForm.get('SubCategoryCode').value == subCategoryCodeEnum.Shopkeepers">
                                <div class="icon">
                                    <mat-icon>business</mat-icon>
                                </div>
                                <input type="text" id="NatureOfBusiness" formControlName="NatureOfBusiness"
                                    placeholder=" " class="peer" maxlength="150" />
                                <label for="NatureOfBusiness" class="">Nature of Business</label>
                            </div>

                            <!-- Insure Multiple Location? -->
                            <div class="relative" formGroupName="OtherDetail"
                                *ngIf="rfqRaiseForm.get('SubCategoryCode').value == subCategoryCodeEnum.JewellersBlockPolicies">
                                <div class="icon">
                                    <mat-icon>rule</mat-icon>
                                </div>
                                <select class="peer" formControlName="IsInsureMultipleLocation">
                                    <option [value]="true">Yes</option>
                                    <option [value]="false">No</option>
                                </select>
                                <label class="mandatory w-fit min-w-max">Insure Multiple Location?</label>
                            </div>



                            <!-- Remarks -->
                            <div class="relative" formGroupName="OtherDetail">
                                <div class="icon">
                                    <mat-icon>bubble_chart</mat-icon>
                                </div>
                                <input type="text" id="ProductCategoryRemark" formControlName="ProductCategoryRemark"
                                    placeholder=" " class="peer" />
                                <label for="ProductCategoryRemark" class="">Remarks</label>
                            </div>

                        </div>


                        <div class="mt-5">
                            <p class="font-semibold text-base">
                                Sum Insured Details
                            </p>
                        </div>

                        <div *ngIf="rfqRaiseForm.get('SubCategoryCode').value == subCategoryCodeEnum.HotelPack ||
                        rfqRaiseForm.get('SubCategoryCode').value == subCategoryCodeEnum.HouseHolder ||
                        rfqRaiseForm.get('SubCategoryCode').value == subCategoryCodeEnum.OfficePack ||
                        rfqRaiseForm.get('SubCategoryCode').value == subCategoryCodeEnum.Shopkeepers">
                            <div class="grid lg:grid-cols-[minmax(366px,366px)_minmax(200px,240px)_minmax(190px,400px)] 
                                        md:grid-cols-[minmax(366px,366px)_minmax(200px,240px)] gap-3 mt-4"
                                *ngFor="let que of filterDisplaySumInsuredDetails();let i = index">


                                <!-- Question  -->
                                <div class="col-start-1 grid items-center" formGroupName="SumInsuredDetail">
                                    <div class="lableInputbox">
                                        <input type="checkbox" id="Question{{i}}" class="peer mb-2"
                                            formControlName="{{que.questionKey}}" />
                                        <label for="Question{{i}}" class="font-medium">{{que.question}}</label>
                                    </div>
                                </div>

                                <!-- Decimal Value Test box -->
                                <div class="relative" formGroupName="SumInsuredDetail"
                                    *ngIf="que.answerType == 'decimal'">
                                    <div class="icon">
                                        <div class="icon rs">₹</div>
                                    </div>
                                    <input type="text" id="answer{{i}}" Decimal formControlName="{{que.answerKey}}"
                                        onfocus="this.select()"
                                        [readOnly]="!rfqRaiseForm.value.SumInsuredDetail[que.questionKey]"
                                        placeholder=" " class="peer" />
                                    <label for="answer{{i}}" *ngIf="que.answersLabel"
                                        [ngClass]="rfqRaiseForm.value.SumInsuredDetail[que.questionKey] ? 'mandatory' : ''"
                                        class="">{{que.answersLabel}}</label>
                                </div>

                                <!-- Number Value Test box -->
                                <div class="relative" formGroupName="SumInsuredDetail"
                                    *ngIf="que.answerType == 'number'">
                                    <div class="icon">
                                        <div class="icon rs">₹</div>
                                    </div>
                                    <input type="text" id="answer{{i}}" Onlynumber formControlName="{{que.answerKey}}"
                                        onfocus="this.select()"
                                        [readOnly]="!rfqRaiseForm.value.SumInsuredDetail[que.questionKey]"
                                        placeholder=" " class="peer" />
                                    <label for="answer{{i}}" *ngIf="que.answersLabel"
                                        [ngClass]="rfqRaiseForm.value.SumInsuredDetail[que.questionKey] ? 'mandatory' : ''"
                                        class="">{{que.answersLabel}}</label>
                                </div>

                                <!--Dropdown -->
                                <div class="relative" formGroupName="SumInsuredDetail"
                                    *ngIf="que.answerType == 'dropdown'">
                                    <div class="icon">
                                        <mat-icon>rule</mat-icon>
                                    </div>
                                    <select class="peer" formControlName="{{que.answerKey}}">
                                        <option disabled [value]="true">Yes</option>
                                        <option disabled [value]="false">No</option>
                                    </select>
                                    <label *ngIf="que.answersLabel" class="mandatory">{{que.answersLabel}}</label>
                                </div>


                                <!-- Specify Here.. -->
                                <div class="relative " formGroupName="SumInsuredDetail"
                                    *ngIf="que['descriptionKey'] && que['descriptionType'] == 'number' && rfqRaiseForm.value.SumInsuredDetail[que.questionKey]">
                                    <div class="icon">
                                        <mat-icon>bubble_chart</mat-icon>
                                    </div>
                                    <input type="text" [id]="que['descriptionKey']" placeholder=" " class="peer"
                                        Onlynumber onfocus="this.select()"
                                        formControlName="{{que['descriptionKey']}}" />
                                    <label *ngIf="que['descriptionLabel']" [for]="que['descriptionKey']"
                                        class="mandatory">{{que['descriptionLabel']}}</label>
                                </div>

                                <!-- Specify Here.. -->
                                <div class="relative " formGroupName="SumInsuredDetail"
                                    *ngIf="que['descriptionKey'] && que['descriptionType'] == 'text' && rfqRaiseForm.value.SumInsuredDetail[que.questionKey]">
                                    <div class="icon">
                                        <mat-icon>bubble_chart</mat-icon>
                                    </div>
                                    <input type="text" [id]="que['descriptionKey']" placeholder=" " class="peer"
                                        formControlName="{{que['descriptionKey']}}" />
                                    <label *ngIf="que['descriptionLabel']" [for]="que['descriptionKey']"
                                        class="mandatory">{{que['descriptionLabel']}}</label>
                                </div>


                            </div>
                        </div>


                        <div
                            *ngIf="rfqRaiseForm.get('SubCategoryCode').value == subCategoryCodeEnum.JewellersBlockPolicies">
                            <div *ngFor="let question of jewellersBlockPoliciesSumInsuredDetails;let i = index">

                                <!-- 1.Standard Fire and Special Perils Cover -->
                                <div class="mt-5" formGroupName="SumInsuredDetail">
                                    <div class="lableInputbox">
                                        <input type="checkbox" [id]="question.questionKey" class="peer mb-2"
                                            formControlName='{{question.questionKey}}' />
                                        <label [for]="question.questionKey" class="font-medium">{{question.question}}
                                            <span *ngIf="question['note']" class="text-md">{{question['note']}}</span>
                                        </label>
                                    </div>
                                </div>

                                <div *ngIf="rfqRaiseForm.value.SumInsuredDetail[question.questionKey]">
                                    <div class="grid lg:grid-cols-[minmax(366px,366px)_minmax(200px,240px)_minmax(190px,400px)] 
                                                            md:grid-cols-[minmax(310px,366px)_minmax(200px,240px)] gap-3 mt-4 ml-12"
                                        *ngFor="let SubQuestion of question.subquestion;let i = index">


                                        <!-- Question  -->
                                        <div class="col-start-1 grid items-center" formGroupName="SumInsuredDetail">
                                            <div class="lableInputbox custom-checkbox-label">
                                                <div>
                                                    <input type="checkbox" [id]="SubQuestion.questionKey" class="peer"
                                                        formControlName="{{SubQuestion.questionKey}}" />
                                                </div>
                                                <div>
                                                    {{i+1}}. <label [for]="SubQuestion.questionKey"
                                                        class="font-medium">{{SubQuestion.question}}</label>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Decimal Value Test box -->
                                        <div class="relative" formGroupName="SumInsuredDetail"
                                            *ngIf="SubQuestion.answerType == 'decimal'">
                                            <div class="icon">
                                                <div class="icon rs">₹</div>
                                            </div>
                                            <input type="text" [id]="SubQuestion.answerKey" Decimal
                                                formControlName="{{SubQuestion.answerKey}}" onfocus="this.select()"
                                                [readOnly]="!rfqRaiseForm.value.SumInsuredDetail[SubQuestion.questionKey]"
                                                placeholder=" " class="peer" />
                                            <label [for]="SubQuestion.answerKey" *ngIf="SubQuestion.answersLabel"
                                                [ngClass]="rfqRaiseForm.value.SumInsuredDetail[SubQuestion.questionKey] ? 'mandatory' : ''"
                                                class="">{{SubQuestion.answersLabel}}</label>
                                        </div>

                                        <!-- Number Value Test box -->
                                        <div class="relative" formGroupName="SumInsuredDetail"
                                            *ngIf="SubQuestion.answerType == 'number'">
                                            <div class="icon">
                                                <div class="icon rs">₹</div>
                                            </div>
                                            <input type="text" [id]="SubQuestion.answerKey" Onlynumber
                                                formControlName="{{SubQuestion.answerKey}}" onfocus="this.select()"
                                                [readOnly]="!rfqRaiseForm.value.SumInsuredDetail[SubQuestion.questionKey]"
                                                placeholder=" " class="peer" />
                                            <label [for]="SubQuestion.answerKey" *ngIf="SubQuestion.answersLabel"
                                                [ngClass]="rfqRaiseForm.value.SumInsuredDetail[SubQuestion.questionKey] ? 'mandatory' : ''"
                                                class="">{{SubQuestion.answersLabel}}</label>
                                        </div>

                                        <!-- Display only For Dropdown value -->
                                        <div class="relative" formGroupName="SumInsuredDetail"
                                            *ngIf="SubQuestion.answerType == 'dropdown'">
                                            <div class="icon">
                                                <mat-icon>rule</mat-icon>
                                            </div>
                                            <select class="peer" formControlName="{{SubQuestion.answerKey}}">
                                                <option disabled [value]="true">Yes</option>
                                                <option disabled [value]="false">No</option>
                                            </select>
                                            <label *ngIf="SubQuestion.answersLabel"
                                                class="mandatory">{{SubQuestion.answersLabel}}</label>
                                        </div>


                                        <!-- Display only For Text Description -->
                                        <!-- Specify Here.. -->
                                        <div class="relative " formGroupName="SumInsuredDetail"
                                            *ngIf="SubQuestion['descriptionKey'] && rfqRaiseForm.value.SumInsuredDetail[SubQuestion.questionKey] && SubQuestion['descriptionType'] == 'text'">
                                            <div class="icon">
                                                <mat-icon>bubble_chart</mat-icon>
                                            </div>
                                            <input type="text" [id]="SubQuestion.descriptionKey+i" placeholder=" "
                                                formControlName="{{SubQuestion['descriptionKey']}}" class="peer" />
                                            <label *ngIf="SubQuestion['descriptionLabel']"
                                                [for]="SubQuestion.descriptionKey+i"
                                                class="mandatory">{{SubQuestion.descriptionLabel}}</label>
                                        </div>

                                        <!-- Display only For Number Description -->
                                        <div class="relative " formGroupName="SumInsuredDetail"
                                            *ngIf="SubQuestion['descriptionKey'] && rfqRaiseForm.value.SumInsuredDetail[SubQuestion.questionKey] && SubQuestion['descriptionType'] == 'number'">
                                            <div class="icon">
                                                <mat-icon>bubble_chart</mat-icon>
                                            </div>
                                            <input type="text" Onlynumber [id]="SubQuestion.descriptionKey+i"
                                                placeholder=" " formControlName="{{SubQuestion['descriptionKey']}}"
                                                onfocus="this.select()" class="peer" />
                                            <label *ngIf="SubQuestion['descriptionLabel']"
                                                [for]="SubQuestion.descriptionKey+i"
                                                class="mandatory">{{SubQuestion.descriptionLabel}}</label>
                                        </div>


                                    </div>
                                </div>

                            </div>
                        </div>



                        <div class="mt-5" *ngIf="!isExpand">
                            <button class="bg-royal text-white" type="button" mat-button matStepperPrevious> Back
                            </button>
                            <button class="bg-royal text-white mx-3" type="button" mat-button matStepperNext
                                (click)="productCategoryDetailsError()"> Next
                            </button>
                        </div>

                    </mat-step>

                    <!-- Third stepper -->
                    <mat-step label="Previous Policy Details" [stepControl]="previousPolicyDetailsValidations()"
                        *ngIf="(rfqRaiseForm.get('PolicyType').value == 'Rollover'|| rfqRaiseForm.get('PolicyType').value == 'Renewal-Change Company'|| rfqRaiseForm.get('PolicyType').value == 'Renewal-Same Company') && (this.rfqRaiseForm.get('SubCategoryCode').value != 'CRA' && this.rfqRaiseForm.get('SubCategoryCode').value != 'ERA')">

                        <div class="grid lg:grid-cols-4 md:grid-cols-2 gap-3 mt-4 ">

                            <!-- Insurance Company -->
                            <div class="relative self-end min-w-36">
                                <div class="icon">
                                    <mat-icon>business</mat-icon>
                                </div>
                                <select class="peer" id="Company" formControlName="PrevPolicyInsurComp">
                                    <option value="">--Select--</option>
                                    <option *ngFor="let option of insuranceCompany" [value]="option.Code">
                                        {{option.ShortName}}</option>
                                </select>

                                <label for="Company" class="">Insurance Company</label>
                            </div>

                            <!-- Sum Insured -->
                            <div class="relative">
                                <div class="icon rs">₹</div>
                                <input matInput type="text" id="PrevPolicySumInsured" onfocus="this.select()" Decimal
                                    formControlName="PrevPolicySumInsured" placeholder=" " maxlength="200" class="peer"
                                    required />
                                <label for="PrevPolicySumInsured" class="">Sum Insured</label>
                            </div>

                            <!-- Premium Amount -->
                            <div class="relative">
                                <div class="icon rs">₹</div>
                                <input matInput type="text" id="PreviousPolicyPremium" Decimal
                                    formControlName="PreviousPolicyPremium" placeholder=" " class="peer"
                                    onfocus="this.select()" required />
                                <label for="PreviousPolicyPremium" class="">Premium Amount</label>
                            </div>

                            <!-- Remarks -->
                            <div class="relative">
                                <div class="icon">
                                    <mat-icon> info</mat-icon>
                                </div>
                                <input matInput type="email" id="PreviousPolicyRemark"
                                    formControlName="PreviousPolicyRemark" placeholder=" " class="peer" required />
                                <label for="PreviousPolicyRemark" class="">Remarks</label>
                            </div>
                        </div>

                        <div class="grid lg:grid-cols-4 md:grid-cols-2 gap-3 mt-4 ">

                            <!-- Policy Start Date -->
                            <div class="relative">
                                <div class="icon">
                                    <mat-datepicker-toggle class="-ml-2" matIconSuffix
                                        [for]="icker"></mat-datepicker-toggle>
                                    <mat-datepicker #icker></mat-datepicker>
                                </div>
                                <div class="flex ">
                                    <input matInput type="text" id="PreviousPolicyStartDate"
                                        formControlName="PreviousPolicyStartDate" placeholder="__/__/____" datemask
                                        [matDatepicker]="icker" />
                                    <label for="PreviousPolicyStartDate" class=""> Policy Start Date </label>
                                </div>
                            </div>

                            <!-- Policy End Date -->
                            <div class="relative">
                                <div class="icon">
                                    <mat-datepicker-toggle class="-ml-2" matIconSuffix
                                        [for]="icker1"></mat-datepicker-toggle>
                                    <mat-datepicker #icker1></mat-datepicker>
                                </div>
                                <div class="flex ">
                                    <!-- formControlName="PolicyEndDate" -->
                                    <input matInput type="text" id="PreviousPolicyEndDate"
                                        formControlName="PreviousPolicyEndDate" placeholder="__/__/____" datemask
                                        [matDatepicker]="icker1" />
                                    <label for="PreviousPolicyEndDate" class=""> Policy End Date </label>
                                </div>
                            </div>

                        </div>

                        <div class="mt-5" *ngIf="!isExpand">
                            <button class="bg-royal text-white" type="button" mat-button matStepperPrevious> Back
                            </button>
                            <button class="bg-royal text-white mx-3" type="button" mat-button matStepperNext
                                (click)="previousPolicyDetailsError()"> Next
                            </button>
                        </div>

                    </mat-step>

                    <!-- Fourth stepper -->
                    <mat-step label="Claim Detail"
                        *ngIf="(rfqRaiseForm.get('PolicyType').value == 'Rollover' || rfqRaiseForm.get('PolicyType').value == 'Renewal-Change Company'|| rfqRaiseForm.get('PolicyType').value == 'Renewal-Same Company') && (this.rfqRaiseForm.get('SubCategoryCode').value != 'CRA' && this.rfqRaiseForm.get('SubCategoryCode').value != 'ERA')">

                        <div class="grid grid-cols-1 gap-3 mt-4">
                            <div class="relative  flex gap-2 items-center">
                                <div class=" my-1">
                                    <span class="mandatory">Have you taken any claim in the last 3 year?</span>
                                </div>

                                <div class="relative flex gap-2">
                                    <div class="lableInputbox min-w-15 flex">
                                        <input class="peer" type="radio" id="IsLifeAssuredyes"
                                            formControlName="AnyClaiminLast3Year" placeholder="" [value]='true'>
                                        <label for="IsLifeAssuredyes" class="font-bold">Yes</label>
                                    </div>

                                    <div class="lableInputbox min-w-15 flex">
                                        <input class="peer" type="radio" id="IsLifeAssuredno"
                                            formControlName="AnyClaiminLast3Year" placeholder="" [value]="false">
                                        <label for="IsLifeAssuredno" class="font-bold">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-5" *ngIf="!isExpand">
                            <button class="bg-royal text-white" type="button" mat-button matStepperPrevious> Back
                            </button>
                            <button class="bg-royal text-white mx-3" type="button" mat-button matStepperNext> Next
                            </button>
                        </div>

                    </mat-step>

                    <!-- Five stepper -->
                    <mat-step label="Team Details" [stepControl]="teamDetailsValidations()">

                        <div class="grid lg:grid-cols-4 md:grid-cols-2 gap-3 mt-6">

                            <!-- Branch -->
                            <div class="relative min-w-36">
                                <div class="icon">
                                    <mat-icon>place</mat-icon>
                                </div>
                                <select id="BranchId" formControlName="BranchId">
                                    <option value=0>--Select-- </option>
                                    <option [disabled]="!canEditableSalespersonTypeAndBranch"
                                        *ngFor="let Branch of branches" [value]="Branch.Id">
                                        {{Branch.Name}}
                                    </option>
                                </select>
                                <label for="BranchId" class="mandatory">Branch</label>
                            </div>

                            <!-- Sales Person Type  -->
                            <div class="relative">
                                <div class="icon">
                                    <mat-icon>group_work</mat-icon>
                                </div>
                                <select id="SalesPersonType" formControlName="SalesPersonType">
                                    <option value=0>--Select-- </option>
                                    <option [disabled]="!canEditableSalespersonTypeAndBranch" [value]="'Direct'">Direct
                                    </option>
                                    <option [disabled]="!canEditableSalespersonTypeAndBranch" [value]="'POSP'">POSP
                                    </option>
                                    <option [disabled]="!canEditableSalespersonTypeAndBranch"
                                        [value]="'Team Reference'">Team Reference</option>
                                </select>
                                <label for="SalesPersonType" class="mandatory ">Sales Person Type</label>
                            </div>

                            <!-- Sales Person -->
                            <div class="relative ">
                                <div class="icon">
                                    <mat-icon>person</mat-icon>
                                </div>

                                <div class="flex">
                                    <input type="text" class="peer " placeholder=" " id="SalesPerson"
                                        [readOnly]="!canEditableSalesPerson" [matAutocomplete]="SalesSearch"
                                        formControlName="SalesPersonName" autocomplete="off" />
                                    <mat-autocomplete #SalesSearch="matAutocomplete"
                                        (optionSelected)="autocompleteSelectedEvent($event,'Sales')">
                                        <mat-option *ngFor="let Sales of salesPersonName$ | async" [value]="Sales">
                                            {{Sales.FullName}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <button class="-m-5 z-10" type="button" *ngIf="canEditableSalesPerson"
                                        (click)="openDiolog('User','Select Sales Person','Sales')">
                                        <mat-icon class="-ml-2">search</mat-icon>
                                    </button>
                                    <button type="button" class="-mx-7 z-10" aria-label="clear" matTooltip="Clear"
                                        *ngIf="rfqRaiseForm.get('SalesPersonName').value && canEditableSalesPerson"
                                        (click)="clear('SalesPersonName', 'SalesPersonId')">
                                        <mat-icon>clear</mat-icon>
                                    </button>
                                    <label for="SalesPerson" class="mandatory">Sales Person</label>
                                </div>

                            </div>

                            <!--  Team Reference -->
                            <div class="relative" *ngIf="rfqRaiseForm.get('SalesPersonType').value == 'Team Reference'">
                                <div class="icon">
                                    <mat-icon> person_pin</mat-icon>
                                </div>
                                <div class="flex">
                                    <input type="text" class="peer " placeholder=" " id="TeamReferenceUser"
                                        formControlName="TeamReferenceName" [matAutocomplete]="TeamRefSearch"
                                        autocomplete="off" />
                                    <mat-autocomplete #TeamRefSearch="matAutocomplete"
                                        (optionSelected)="autocompleteSelectedEvent($event,'TeamRef')">
                                        <mat-option *ngFor="let Team of teamRefUser$ | async" [value]="Team">
                                            {{Team.FullName}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <button class="-m-5 z-10" type="button"
                                        (click)="openDiolog('User','Select Team Reference','TeamRef')">
                                        <mat-icon class="-ml-2">search</mat-icon>
                                    </button>
                                    <button type="button" class="-mx-7 z-10" aria-label="clear" matTooltip="Clear"
                                        *ngIf="rfqRaiseForm.get('TeamReferenceName').value"
                                        (click)="clear('TeamReferenceName', 'TeamReferenceId')">
                                        <mat-icon>clear</mat-icon>
                                    </button>
                                    <label for="TeamReferenceUser">Team Reference</label>
                                </div>
                            </div>

                            <!-- BDM -->
                            <div class="relative wd">
                                <div class="icon">
                                    <mat-icon>person</mat-icon>
                                </div>
                                <div class="flex">
                                    <input type="text" class="peer " placeholder=" " formControlName="BDMName"
                                        id="BDMName" [matAutocomplete]="CRMSearch" [readOnly]="!canEditableBdoBdm" />
                                    <mat-autocomplete #CRMSearch="matAutocomplete"
                                        (optionSelected)="autocompleteSelectedEvent($event,'BDMName')">
                                        <mat-option *ngFor="let crm of bdmlist$ | async" [value]="crm">
                                            {{crm.FullName}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <button class="-m-5 z-10" type="button" *ngIf="canEditableBdoBdm"
                                        (click)="openDiolog('User','Select BDM Name','BDMName')"><mat-icon
                                            class="-ml-2">search</mat-icon></button>
                                    <button type="button" class="-mx-7 z-10" aria-label="clear" matTooltip="Clear"
                                        *ngIf="rfqRaiseForm.get('BDMName').value && canEditableBdoBdm && mode != 'View'"
                                        (click)="clear('BDMName', 'BDMId')">
                                        <mat-icon>clear</mat-icon>
                                    </button>
                                    <label for="BDMName" class="mandatory">BDM Name</label>

                                </div>
                            </div>

                            <!-- BDO -->
                            <div class="relative wd">
                                <div class="icon">
                                    <mat-icon>person</mat-icon>
                                </div>
                                <div class="flex">
                                    <input type="text" class="peer " placeholder=" " id="BDOName"
                                        [matAutocomplete]="CRESearch" [readOnly]="!canEditableBdoBdm"
                                        formControlName="BDOName" />
                                    <mat-autocomplete #CRESearch="matAutocomplete"
                                        (optionSelected)="autocompleteSelectedEvent($event,'BDOName')">
                                        <mat-option *ngFor="let CRE of bdolist$ | async" [value]="CRE">
                                            {{CRE.FullName}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <button class="-m-5 z-10" type="button" *ngIf="canEditableBdoBdm"
                                        (click)="openDiolog('User','Select BDO Name','BDOName')"><mat-icon
                                            class="-ml-2">search</mat-icon></button>
                                    <button type="button" class="-mx-7 z-10" aria-label="clear" matTooltip="Clear"
                                        *ngIf="rfqRaiseForm.get('BDOName').value && canEditableBdoBdm && mode != 'View'"
                                        (click)="clear('BDOName', 'BDOId')">
                                        <mat-icon>clear</mat-icon>
                                    </button>
                                    <label for="BDOName" class="mandatory">BDO Name</label>
                                </div>
                            </div>

                        </div>

                        <div class="mt-3" *ngIf="!isExpand">
                            <button class="bg-royal text-white" type="button" mat-button matStepperPrevious> Back
                            </button>

                            <button class="bg-royal text-white mx-3" type="button" mat-button matStepperNext
                                (click)="teamDetailsError()"> Next
                            </button>
                        </div>

                    </mat-step>

                    <!-- Sixth stepper -->
                    <mat-step label="Attachment Details" [stepControl]="documentAttachmentValidation()">

                        <div class="grid lg:grid-cols-4 md:grid-cols-2 gap-3 mt-4">

                            <!-- Select Document -->
                            <div class="relative" *ngIf="mode != 'view'">
                                <div class="icon">
                                    <mat-icon> compass_calibration</mat-icon>
                                </div>
                                <select class="peer bg-white" #DocumentDropdown
                                    (change)="onDocumentSelectionChange($event)">
                                    <option value="">--Select--</option>
                                    <option [value]="option.DocumentType" *ngFor="let option of policyDocumentList">
                                        {{option.DocumentTypeName}}
                                    </option>
                                </select>
                                <label for="">Select Document</label>
                            </div>

                            <!-- Additional Information -->
                            <div class="relative">
                                <div class="icon">
                                    <mat-icon>border_color</mat-icon>
                                </div>
                                <input type="text" class="peer" id="AdditionalInformation" placeholder=" "
                                    formControlName="Additionalinformation" />
                                <label for="AdditionalInformation" class="w-fit min-w-max">Additional Information</label>
                            </div>

                            <!-- Reason for (Send Back/Reject)  -->
                            <div class="relative" *ngIf="displayForm?.SendBackRejectDesc">
                                <div class="icon">
                                    <mat-icon>timelapse</mat-icon>
                                </div>
                                <input readonly type="text" class="peer" id="ReasonforSendBack" placeholder=" "
                                    value="{{displayForm?.SendBackRejectDesc}}" />
                                <label for="ReasonforSendBack " class="w-fit min-w-max">Reason for (Send Back/Reject)</label>
                            </div>

                        </div>

                        <div class="grid lg:grid-cols-4 md:grid-cols-2 gap-3 mt-4">
                            <ng-container formArrayName="Documents" *ngFor="let doc of documents.controls;let i=index">
                                <ng-container [formGroupName]="i" *ngIf="canDisplayDocuments(doc.value.DocumentType)">

                                    <div class="relative">
                                        <mat-icon
                                            *ngIf="(doc.value.Stage == 'RFQRaised' && mode!='view') || (mode == 'RenewalRFQ')"
                                            (click)="removeDocuments(i)"
                                            class="absolute -right-2 -top-3 text-red-500 cursor-pointer">cancel</mat-icon>
                                        <div class="dummy-formField ">
                                            <div class="icon">
                                                <mat-icon>attach_file</mat-icon>
                                            </div>
                                            <input type="file" class="hidden" accept=".doc,.docx,.pdf" #AttachDocument
                                                (change)="selectDocuments($event, i)">
                                            <p class="ml-10 text-primary-500 cursor-pointer hover:text-primary-500 overflow-hidden whitespace-nowrap"
                                                [ngClass]="doc.value.Stage == 'RFQRaised' && mode!='view' ? 'cursor-pointer text-primary-500 hover:text-primary-500' : 'pointer-events-none' "
                                                matTooltip="{{doc.value.FileName}}" (click)="AttachDocument.click()">
                                                {{doc.value.FileName || 'Choose File' | excerpt:'max' }}</p>
                                            <label for="AttachDocument" class="mandatory">{{
                                                doc.value.DocumentType}}</label>
                                            <div class="flex justify-end absolute right-2 bg-white"
                                                matTooltip="View Document"
                                                (click)="viewDocuments(doc.value?.StorageFilePath)">
                                                <mat-icon *ngIf="doc.value?.StorageFilePath"
                                                    class="cursor-pointer">visibility</mat-icon>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="relative min-w-36" *ngIf="doc.value.DocumentType == 'Other' ">
                                        <div class="icon">
                                            <mat-icon>bubble_chart</mat-icon>
                                        </div>
                                        <input matInput type="text" placeholder=" " id="Remarks" name="Remark"
                                             class="peer w-fit pad" formControlName="Description" />
                                        <label for="Remarks">Remarks</label>
                                    </div>

                                </ng-container>


                            </ng-container>
                        </div>

                        <div class="mb-2 mt-4" *ngIf="mode != 'view'">
                            <button class="bg-royal text-white" mat-button matStepperPrevious *ngIf="!isExpand">
                                Back
                            </button>
                            <button class="bg-royal text-white mx-3 " mat-button (click)="submitRfq()">
                                Submit
                            </button>
                        </div>

                    </mat-step>

                </mat-stepper>
            </div>
            <!-- Region Form End -->
        </form>
    </div>
    <!-- End of Body -->

</div>